h2{
   color:black;
   font-size:28px;
   text-align:center;
   margin-left:20px;
   margin-bottom:20px;
}

table {  
    color: #333;
    width: 1180px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th {  
    border: 1px solid transparent;
    height: 30px; 
    transition: all 0.3s; 
    font-size: 22px;
}

th {  
    background: #bfc4e6; 
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}

link{
	-webkit-appearance: button;
	text-decoration: none;
    color: initial;

}
      
tr:nth-child(even) td { background: #F1F1F1; }   
       
tr:nth-child(odd) td { background: #FEFEFE; }  